body {
    background-color: #62d9fb;
}
.counter-body {
    margin: auto;
    width: 30%;
    border: 3px groove #b8b8b8fd;
    padding: 10px;
    text-align: center;
}
.counter-sum {
    text-align: center;
}